
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.container-fluid {
    text-align: center;
    margin: 0;
    padding: 50px;
    font-size: x-large;
} 

.employee-card {
    width: 18rem;
    height: auto; 
    background-color: lightgray;
    -webkit-box-shadow: 4px 2px 6px -1px #a9a9a9; 
    box-shadow: 4px 2px 6px -1px #a9a9a9;
    padding-bottom: 20px;
    border-radius: 2px;
} 

.card-header {
    color: #fff;
    background-color: #0275d8;
    margin: 0;
    padding: 15px 0 15px 20px;
    border-radius: 2px;
} 

ul { 
    margin-top: 20px;
    margin-left: -10px;
    list-style-type: none;
}  

li { 
    width: 75%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid darkgrey;
    font-size: small;
}